*/credentials*.json
.env
*.db
services/sftp/lear_cable/config/logs/
services/sftp/lear_cable/config/openssh/
services/sftp/lear_cable/config/ssh_host_keys/*_key
services/sftp/lear_cable/config/ssh_host_keys/*_key.pub
